@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(247, 249, 250);
  --foreground: rgb(51, 51, 51);
  --card: rgb(255, 255, 255);
  --card-foreground: rgb(51, 51, 51);
  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(51, 51, 51);
  --primary: rgb(255, 192, 203);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(135, 206, 235);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(221, 217, 196);
  --muted-foreground: rgb(110, 110, 110);
  --accent: rgb(255, 255, 0);
  --accent-foreground: rgb(0, 0, 0);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(212, 212, 212);
  --input: rgb(212, 212, 212);
  --ring: rgb(255, 192, 203);
  --chart-1: rgb(255, 192, 203);
  --chart-2: rgb(135, 206, 235);
  --chart-3: rgb(255, 255, 0);
  --chart-4: rgb(255, 153, 204);
  --chart-5: rgb(51, 204, 51);
  --sidebar: rgb(247, 249, 250);
  --sidebar-foreground: rgb(51, 51, 51);
  --sidebar-primary: rgb(255, 192, 203);
  --sidebar-primary-foreground: rgb(0, 0, 0);
  --sidebar-accent: rgb(255, 255, 0);
  --sidebar-accent-foreground: rgb(0, 0, 0);
  --sidebar-border: rgb(212, 212, 212);
  --sidebar-ring: rgb(255, 192, 203);
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: rgb(26, 29, 35);
  --foreground: rgb(229, 229, 229);
  --card: rgb(47, 52, 54);
  --card-foreground: rgb(229, 229, 229);
  --popover: rgb(47, 52, 54);
  --popover-foreground: rgb(229, 229, 229);
  --primary: rgb(255, 153, 204);
  --primary-foreground: rgb(0, 0, 0);
  --secondary: rgb(51, 204, 51);
  --secondary-foreground: rgb(0, 0, 0);
  --muted: rgb(68, 68, 68);
  --muted-foreground: rgb(163, 163, 163);
  --accent: rgb(135, 206, 235);
  --accent-foreground: rgb(0, 0, 0);
  --destructive: rgb(239, 68, 68);
  --destructive-foreground: rgb(255, 255, 255);
  --border: rgb(68, 68, 68);
  --input: rgb(68, 68, 68);
  --ring: rgb(255, 153, 204);
  --chart-1: rgb(255, 153, 204);
  --chart-2: rgb(51, 204, 51);
  --chart-3: rgb(135, 206, 235);
  --chart-4: rgb(255, 255, 0);
  --chart-5: rgb(255, 204, 0);
  --sidebar: rgb(26, 29, 35);
  --sidebar-foreground: rgb(229, 229, 229);
  --sidebar-primary: rgb(255, 153, 204);
  --sidebar-primary-foreground: rgb(0, 0, 0);
  --sidebar-accent: rgb(135, 206, 235);
  --sidebar-accent-foreground: rgb(0, 0, 0);
  --sidebar-border: rgb(68, 68, 68);
  --sidebar-ring: rgb(255, 153, 204);
  --font-sans: Poppins, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Roboto Mono, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 1px 2px -1px hsl(0 0% 0% / 0.10);
  --shadow-md: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 2px 4px -1px hsl(0 0% 0% / 0.10);
  --shadow-lg: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 4px 6px -1px hsl(0 0% 0% / 0.10);
  --shadow-xl: 0 1px 3px 0px hsl(0 0% 0% / 0.10), 0 8px 10px -1px hsl(0 0% 0% / 0.10);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@layer base {
  .theme {
    --font-sans: Open Sans, sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --font-serif: Source Serif 4, serif;
    --radius: 1.5rem;
    --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
    --tracking-tight: calc(var(--tracking-normal) - 0.025em);
    --tracking-wide: calc(var(--tracking-normal) + 0.025em);
    --tracking-wider: calc(var(--tracking-normal) + 0.05em);
    --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  }
  :root {
    --background: oklch(0.9689 0.0090 314.7819);
    --foreground: oklch(0.3729 0.0306 259.7328);
    --card: oklch(1.0000 0 0);
    --card-foreground: oklch(0.3729 0.0306 259.7328);
    --popover: oklch(1.0000 0 0);
    --popover-foreground: oklch(0.3729 0.0306 259.7328);
    --primary: oklch(0.7090 0.1592 293.5412);
    --primary-foreground: oklch(1.0000 0 0);
    --secondary: oklch(0.9073 0.0530 306.0902);
    --secondary-foreground: oklch(0.4461 0.0263 256.8018);
    --muted: oklch(0.9464 0.0327 307.1745);
    --muted-foreground: oklch(0.5510 0.0234 264.3637);
    --accent: oklch(0.9376 0.0260 321.9388);
    --accent-foreground: oklch(0.3729 0.0306 259.7328);
    --destructive: oklch(0.8077 0.1035 19.5706);
    --destructive-foreground: oklch(1.0000 0 0);
    --border: oklch(0.9073 0.0530 306.0902);
    --input: oklch(0.9073 0.0530 306.0902);
    --ring: oklch(0.7090 0.1592 293.5412);
    --chart-1: oklch(0.7090 0.1592 293.5412);
    --chart-2: oklch(0.6056 0.2189 292.7172);
    --chart-3: oklch(0.5413 0.2466 293.0090);
    --chart-4: oklch(0.4907 0.2412 292.5809);
    --chart-5: oklch(0.4320 0.2106 292.7591);
    --radius: 1.5rem;
    --sidebar: oklch(0.9073 0.0530 306.0902);
    --sidebar-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-primary: oklch(0.7090 0.1592 293.5412);
    --sidebar-primary-foreground: oklch(1.0000 0 0);
    --sidebar-accent: oklch(0.9376 0.0260 321.9388);
    --sidebar-accent-foreground: oklch(0.3729 0.0306 259.7328);
    --sidebar-border: oklch(0.9073 0.0530 306.0902);
    --sidebar-ring: oklch(0.7090 0.1592 293.5412);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.08;
    --shadow-blur: 16px;
    --shadow-spread: -4px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
    --tracking-normal: 0em;
  }
  .dark {
    --background: oklch(0.2161 0.0061 56.0434);
    --foreground: oklch(0.9299 0.0334 272.7879);
    --card: oklch(0.2805 0.0309 307.2326);
    --card-foreground: oklch(0.9299 0.0334 272.7879);
    --popover: oklch(0.2805 0.0309 307.2326);
    --popover-foreground: oklch(0.9299 0.0334 272.7879);
    --primary: oklch(0.7874 0.1179 295.7538);
    --primary-foreground: oklch(0.2161 0.0061 56.0434);
    --secondary: oklch(0.3416 0.0444 308.8496);
    --secondary-foreground: oklch(0.8717 0.0093 258.3382);
    --muted: oklch(0.2805 0.0309 307.2326);
    --muted-foreground: oklch(0.7137 0.0192 261.3246);
    --accent: oklch(0.3858 0.0509 304.6383);
    --accent-foreground: oklch(0.8717 0.0093 258.3382);
    --destructive: oklch(0.8077 0.1035 19.5706);
    --destructive-foreground: oklch(0.2161 0.0061 56.0434);
    --border: oklch(0.3416 0.0444 308.8496);
    --input: oklch(0.3416 0.0444 308.8496);
    --ring: oklch(0.7874 0.1179 295.7538);
    --chart-1: oklch(0.7874 0.1179 295.7538);
    --chart-2: oklch(0.7090 0.1592 293.5412);
    --chart-3: oklch(0.6056 0.2189 292.7172);
    --chart-4: oklch(0.5413 0.2466 293.0090);
    --chart-5: oklch(0.4907 0.2412 292.5809);
    --radius: 1.5rem;
    --sidebar: oklch(0.3416 0.0444 308.8496);
    --sidebar-foreground: oklch(0.9299 0.0334 272.7879);
    --sidebar-primary: oklch(0.7874 0.1179 295.7538);
    --sidebar-primary-foreground: oklch(0.2161 0.0061 56.0434);
    --sidebar-accent: oklch(0.3858 0.0509 304.6383);
    --sidebar-accent-foreground: oklch(0.8717 0.0093 258.3382);
    --sidebar-border: oklch(0.3416 0.0444 308.8496);
    --sidebar-ring: oklch(0.7874 0.1179 295.7538);
    --font-sans: Open Sans, sans-serif;
    --font-serif: Source Serif 4, serif;
    --font-mono: IBM Plex Mono, monospace;
    --shadow-color: hsl(0 0% 0%);
    --shadow-opacity: 0.08;
    --shadow-blur: 16px;
    --shadow-spread: -4px;
    --shadow-offset-x: 0px;
    --shadow-offset-y: 8px;
    --letter-spacing: 0em;
    --spacing: 0.25rem;
    --shadow-2xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-xs: 0px 8px 16px -4px hsl(0 0% 0% / 0.04);
    --shadow-sm: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 1px 2px -5px hsl(0 0% 0% / 0.08);
    --shadow-md: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 2px 4px -5px hsl(0 0% 0% / 0.08);
    --shadow-lg: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 4px 6px -5px hsl(0 0% 0% / 0.08);
    --shadow-xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.08), 0px 8px 10px -5px hsl(0 0% 0% / 0.08);
    --shadow-2xl: 0px 8px 16px -4px hsl(0 0% 0% / 0.20);
  }
  body {
    letter-spacing: var(--tracking-normal);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}